


<div class="row">
  <div class="col-sm-6">
    <h1>Subtitles</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_subtitle_path, class: 'btn btn-primary' do %>
    Add New Subtitle
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Movie</th>
            <th>Lang</th>
            <th>Stored path</th>
            <th>Stored</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @subtitles.each do |subtitle| %>
        <%= content_tag :tr, id: dom_id(subtitle), class: dom_class(subtitle) do %>
          

                      <td><%= subtitle.movie %></td>
                      <td><%= subtitle.lang %></td>
                      <td><%= subtitle.stored_path %></td>
                      <td><%= subtitle.stored %></td>
          
          
            <td><%= link_to 'Show', subtitle %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
