<div class="page-header">
  <%= link_to subtitles_path, class: 'btn btn-default' do %>
    All Subtitles
  <% end %>
  <%= link_to edit_subtitle_path(@subtitle), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show subtitle</h1>
</div>

<dl class="dl-horizontal">
  <dt>Movie:</dt>
  <dd><%= @subtitle.movie %></dd>

  <dt>Lang:</dt>
  <dd><%= @subtitle.lang %></dd>

  <dt>Stored path:</dt>
  <dd><%= @subtitle.stored_path %></dd>

  <dt>Stored:</dt>
  <dd><%= @subtitle.stored %></dd>

</dl>
